* {
    font-size: 14px;
    line-height: 140%;
}

blockquote.blockquote-jv {
    border-left: 3px solid rgba(0, 150, 136, 0.33);
    margin: 1em 0;
    padding: 1px 5px ;
    background: rgba(0, 150, 136, 0.05) none repeat scroll 0 0;
}

.pre-jv {
    background: rgba(230, 230, 235, 0.5) none repeat scroll 0 0;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    padding: 10px;
    font-size: 120%;
    color: #fff;
}

.bloc-spoil-jv .txt-spoil {
    background: #00796B none repeat scroll 0 0;
    color: #fff;
    display: block;
    font-size: 1em;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    width: 75px;
    margin: 0 auto;
}

.bloc-spoil-jv .contenu-spoil {
    background: #ffecec none repeat scroll 0 0;
    border: 1px solid #fdd;
    padding: 10px;
    display: block;
    color: #000;
}

.text-enrichi-forum, .message {
    color: #bbb;
}

a {
    color: #f5e480;
    text-decoration: none;
}