* {
    font-size: medium;
    line-height: 140%;
}

blockquote.blockquote-jv {
    border-left: 3px solid #6b6b6b;
    margin-left: 5px;
    padding: 3px;
}

.message {
    color: #000;
}

a {
    color: #006bd7;
    text-decoration: none;
}